html
    head
        title User Storage
        link(href="/favicon.ico" rel="icon" type="image/x-icon")
        link(href="/style.css" rel="stylesheet")
        block headContent
    body
        div.navbar
            a(href="/pug") Home Page
            block title
        block content
        block script