.header {
    display: flex;
    justify-content: space-between;
    background-color: darkgray;
    width: 80%;
    margin-left: 10%;
}
.navbar {
    display: flex;
    width: 80%;
    background-color: darkgray;
    margin: 0 auto;
    align-items: center;
}
a {
    border: 1px solid black;
    border-radius: 6px;
    background: whitesmoke;
    padding: 6px;
    margin-left: 40px;
}

.header h1,h2 {
    margin-left: 25%;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainTable {
    width: 80%;
    border: 1px solid darkgray;
    padding: 10px;
    background-color: whitesmoke;
    margin-bottom: 25px;
}

th {
    text-align: left;
}

th.id {
    padding-right: 15px;
}

th.title,
th.cast {
    min-width: 250px;
}

a.pressme {
    width: 60%;
    padding: 20px;
    border-radius: 10px;
    background-color: darkgray;
    cursor:pointer;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
}

form {
    width:80%;
    border: 1px solid darkgray;
    background-color: whitesmoke;
    padding:12px;
    margin-left: 10%;
}

.group {
    margin-top:12px;
    margin-bottom: 12px;
}

.submit {
    margin-left: 20px;
    padding: 10px;
    background-color: darkgrey;
    border-radius: 6px;
}